div.commentContainer textarea
{
	width: 98%;
	height: 16px;
}
div.commentContainer textarea.empty
{
	font-style: italic;
	color: #999999;
}
div.commentContainer p
{
	margin: 0px 0px 4px 0px;
}
div.commentContainer span.posted
{	
	float: right;
	
	font-size: 11px;
	
	padding: 0px 0px 0px 2px;
	font-style: italic;
	
	color: #808080;
}
div.commentContainer a.deleteComment
{
	float: right;
	position: relative;
	
	top: 3px;
}
div.commentContainer label
{
	float: left;
	margin: 25px 10px 0px 0px;	
}