/* Default Stylesheet */
@import url(http://fonts.googleapis.com/css?family=Denk+One);
@import url(http://fonts.googleapis.com/css?family=Roboto);

body 
{
	margin: 0px;
	padding: 0px;		
	
	color: #333333;		
	
	background-color: #e2e2e2;
	background-image: url(images/layout/background.jpg);
	
	font-family: 'Roboto', Verdana, Helvetica, sans-serif;
	font-size: 14px;
	
	z-index: 1;
}
/****** UI Theme Overrides ******/
body .ui-widget-overlay
{
	/* Override the default UI overlay (just for aesthetics) */
	background-image: none !important;
	background-color: #4b4b4b;
}
.ui-dialog
{
	box-shadow: 0px 0px 35px #333333
}
div.ui_tabPage.ui-tabs-panel
{
	padding: 5px;
}
/********************************/
body > #container
{
	position: relative;
	
	margin: 0px auto;
	width: 900px;
	
	overflow: hidden;
	z-index: 2;
}
#container > #headerContent
{
	border: 1px solid #999999;
	border-radius: 5px 5px 0px 0px;
		
	background-image: url(images/row_shine.png);
    background-position: 0 74px;
    background-repeat: repeat-x;
	background-color: #444444;
	
	padding: 0px 0px 0px 25px;
	
	height: 150px;
}
#container > #headerContent img.logo
{
	font-family: 'Denk One';
	font-size: 30px;
	
	margin: 12px 0px 4px 0px;
	
	color: #dd6900;
}
#container > #headerContent h2
{
	font-family: 'Denk One';
	font-size: 20px;
	
	color: #9f9f9f;
	
	margin: -45px 0 4px 180px;
}
#container > #headerContent h2 .ui-icon
{
	display: inline-block;
	position: relative;
	
	margin: 0px 5px 0px 0px;
	
	top: -3px;
}
#container > #headerContent div.authUser
{
	position: absolute;
	
	top: 5px;
	right: 5px;
	
	color: #9f9f9f;
}
#container > #headerContent div.authUser .ui-icon
{
	display: inline-block;
}
#container > #headerContent div.authUser strong
{
	color: #dd6900;
}
#container > #navContent
{
	border-style: solid;
	border-color: #999999;
	border-width: 0px 1px;
	
	background-image: url(images/row_shine_solid.png);
	background-repeat: repeat-x;
	background-position: 0px -2px;
	
	background-color: #d0d0d0;
		
	overflow: hidden;
	
	z-index: 3;
}
#container > #navContent ul
{
	z-index: 10;
}
#container > #navContent li ul
{
	position: absolute;
	top: -9999px;
	left: -9999px;
}
#container > #navContent > ul > li .ui-icon
{	
	display: inline-block;
	
	position: relative;
	
	top: 2px;
	margin-right: 5px;
}
#container > #navContent > ul > li
{
	float: left;	
			
	padding: 10px 15px 10px 5px;
	
	border-style: solid;
	border-color: #999999;
	border-width: 0px 1px 0px 0px;
}
#container > #navContent > ul > li > a
{
	color: #4b4b4b;	
	font-size: 15px;
}
#container > #navContent > ul > li:hover
{
	background-color: #dd6900;
	
	background-image: url(images/row_shine_solid.png);
	background-repeat: repeat-x;
	background-position: 0px -2px;
}
#container > #navContent > ul > li:hover > a
{
	color: #ffffff;
}
#container > #navContent li.back
{
	float: right;
	border-width: 0px 0px 0px 1px;
}
#container > #navContent .ui-menu-item a
{
	padding-left: 2px;
	min-width: 220px;
}
#container > #navContent .ui-menu-item a .ui-icon
{
	margin-right: 12px;
}
#container > #navContent .ui-menu
{
	box-shadow: 2px 2px 3px #808080;
	border-radius: 0px 0px 5px 5px;
}
#container > #mainContent
{
	min-height: 400px;
	
	border: 1px solid #999999;	
	
	background-color: #ffffff;
	
	/*padding: 10px;*/
}
#footerContent
{
	border-radius: 0px 0px 5px 5px;
	
	background-color: #333333;
	
	padding: 10px 5px;
}
ul
{
	padding: 0px;
	margin: 0px;
	
	list-style: none;
}
a
{
	text-decoration: none;
}
a.clearIcon
{
	position: absolute;
	
	background-color: #C0402A;
	
	border: 1px solid #ffffff;
	border-radius: 5px;
	
	box-shadow: 1px 1px 3px #dd6900;
}
fieldset legend
{
	font-size: 16px;
	font-weight: bold;	
	
	color: #dd6900;
}
select
{
	padding: 5px;
	
	border: 1px solid #999999;
	border-radius: 4px;
}
h1
{
	font-size: 25px;
}
h1, h2, h3, h4, h5
{
	margin: 0px;
	padding: 0px;
}
.shine, .shine_strong, .shine_dark, .shine_solid
{
	background-repeat: repeat-x;
}
.shine
{
	background-image: url(images/row_shine.png);	
}
.shine_strong
{
	background-image: url(images/row_shine_strong.png);	
}
.shine_dark
{
	background-image: url(images/row_shine_dark.png);	
}
.shine_solid
{
	background-image: url(images/row_shine_solid.png);	
}
.strong
{
	font-weight: bold;
}
.attn
{
	color: #ff0000;
	font-weight: bold;
}
table.hoverTable tr:hover td
{
	background-color: #9f9f9f !important;
	background-image: url(images/row_shine_solid.png) !important;
	background-position: 0px -2px;
}
input[type=text], input[type=password], textarea
{
	background-color: #ffffff;
	
	border-style: solid;
	border-color: #9999aa;
	border-width: 1px;
	    
	color: #4b4b4b;
	
	padding: 6px 4px 8px 8px;
	
	font-size: 15px;
	
	border-radius: 3px;
}
input.focused, textarea.focused
{	
	border-color: #dd6900;	
	box-shadow: 2px 2px 3px #ffffff;
}
div.jqWorking
{
	background-image: url(images/ajax/loader_2.gif);
	background-repeat: no-repeat;
	background-position: top center;
	
	padding-top: 40px !important;
	margin: 10px 0px;

	min-width: 32px;
	
	text-align: center;
}
div.jqWorking em
{
	font-size: 11px;
	color: #808080;
}
div.jqWorkingDiv
{	
	margin: auto;
	max-width: 400px;
	text-align: center;	
}
div.panelBlockContainer > h1
{
	font-size: 14px;
	
	color: #f0f0f0;
	
	background-color: #7F4617;
	background-image: url(images/row_shine_strong.png);
	background-repeat: repeat-x;
	
	border-style: double;
	border-color: #808080;
	border-width: 0px 0px 3px 0px;
	/*border-radius: 3px;*/	
	
	margin: 0px;
	padding: 6px 0px 6px 6px;	
	
	text-align: left;
}
div.panelBlockContainer
{
	position: relative;
	
	background-color: #717273;
	background-image: url(images/layout/panel_back.png);
	background-repeat: repeat-x;
		
	/*border-radius: 5px;*/
	border-style: solid;
	border-color: #4b4b4b;
	border-width: 1px;
	
	box-shadow: 2px 2px 2px #808080;
}
div.panelBlockContainer div.actual, .ui-dialog div.tabContainer div.actual
{	
	margin: 5px 5px 5px 5px;	
	
	background-color: #f5f5f5;
	background-image: url(images/layout/actual_back.png);
	background-repeat: repeat-x;
	background-position: 0px -80px;
	
	border-style: solid;
	border-color: #d5d5d5;
	border-width: 1px 1px 1px 1px;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	
	box-shadow: 2px 2px 12px #333333;
	
	overflow: hidden;
}
div.panelBlockContainer div.actual
{
	padding: 2px 3px;
	border-radius: 5px;
}
/**** Common Admin Styles ****/
div.adminBlock p
{
	padding: 8px;
	text-align: justified;
	
	font-size: 15px;
}
table.listTable
{
	border-style: solid;
	border-color: #888888;
	border-width: 1px 0px 0px 1px;	
	
	empty-cells: show;	
	
	box-shadow: 1px 2px 2px #505050;
	
	text-align: left;	
}
table.listTable td, table.listTable th
{
	background-image: url(images/row_shine_strong.png);
	background-repeat: repeat-x;	
	background-position: 0px -6px;
}
table.listTable th, table.listTable td
{
	border-style: solid;
	border-color: #888888;
	border-width: 0px 1px 1px 0px;
	
	background-color: #c9c9c9;
}
table.listTable td.evenCell
{
	background-color: #e2e2e2;		
}
table.listTable th
{
	background-color: #707070;
	text-align: left;
	
	padding: 8px 5px;
	font-size: 12px;
	
	color: #FFA65F;
}
table.listTable td.datestamp
{
	font-size: 9px !important;
	letter-spacing: -1px;
	
	color: #5f5f5f;
}
table.listTable th.sort
{
	padding: 2px 3px;	
}
.tableFilterDiv .ui-accordion-header
{
	border-bottom-width: 2px;
	
	background-color: #d5d5d5 !important;
	background-image: url("images/row_shine_dark.png") !important;
	background-position: 0px -16px;
}
div.configWin form input, div.configWin form textarea, div.configWin form label, div.configWin form select, 
div.configWin span.desc, div.configWin span.invSpecial, div.configWin form button, div.configWin span.label
{
	float: left;	
	margin: 0px 5px 8px 0px;				
}
div.configWin form label, div.configWin span.label
{
	clear: left;
	width: 200px;
	
	margin-top: 4px;
	margin-left: 5px;
	
	padding-top: 4px;
	
	text-align: left;
}
div.configWin form select
{
	margin-top: 2px;
}
div.configWin form input[type=checkbox]
{
	margin-top: 10px;	
}
div.configWin form
{
	clear: both;
	padding-top: 8px;
}
div.configWin table.listTable
{
	clear: both;
}
div.configWin div.tabContent
{
	min-height: 268px;
	max-height: 570px;
}
div.configWin span.desc
{
	color: #ff0000;
	
	font-style: italic;
	font-size: 10px;
	
	margin-top: 12px;	
}
div.configWin form .datePickerContainer
{
	float: left;
	clear: left;	
}
div.configWin input.hasDatepicker 
{
    width: 92px;
}
div.configWin .datePickerContainer > img
{
	margin-top: 9px;
	margin-right: 3px;
}
div.configWin div.ui-tabs-panel
{
	padding: 4px;
	overflow: hidden;
}
div.configWin.ui-dialog-content
{
	padding: 5px;
}
div.configWin .ui-tabs
{
	min-height: 98%;
}
.ui-dialog button.delete
{
	position: absolute;
	
	left: 10px;	
}
a.ui-tabs-anchor .ui-icon
{
	position: relative;	
	display: inline-block;
	
	top: 3px;
	
	margin-right: 4px;
}
button.actionControl
{
	padding: 3px 0px;
	width: 22px;
}
span.jqSaveIcon
{
	/*background-color: #f5f5f5;
	
	border-style: solid;
	border-color: #dd6900;
	border-width: 1px 1px 1px 0px;	
	border-radius: 5px;*/
	
	/*margin-left: -2px;
	margin-top: -1px;*/
	
	/*box-shadow: 1px 1px 3px #808080;*/
}
/*****************************/