div.panelBlockContainer h1 div.jqPopupMenu
{
	position: absolute !important;
	
	top: 5px;
	right: 4px;
}
#categoriesContainer
{
	min-height: 500px;
}
#categoryWin .redactor_box, #itemWin .redactor_box
{
	float: left;	
	
	margin-bottom: 8px;
	
	width: 650px;

	min-height: 220px;
	max-height: 450px;
}
#btnAddFeature
{	
	margin-top: 2px;
}
#featuresContainer
{	
	clear: both;	
	min-height: 400px;
}
span.featureKey
{
	font-size: 10px;
	display: block;
	
	padding: 5px 0px 0px 5px;
}
#featureEditWin span.label.featureLabel
{
	clear: none;
	font-weight: bold;
	color: #dd6900;
}
span.updatedBy
{
	font-size: 11px;
	font-style: italic;
	font-weight: bold;
	
	color: #808080;	
}
span.featureType 
{
    color: #9A9A9A;
    font-size: 12px;
}
span.imageEmpty
{
	display: block;
	padding: 0px 0px 14px 0px;
	
	font-weight: bold;
	
	text-align: center;
}
fieldset.files span.dimensions
{
	float: left;
	
	margin-top: 10px;
	
	font-size: 14px;
	color: #6a6a6a;
}
fieldset.files span.dimensions.resized
{
	color: #FF0000;
}
fieldset.files button, fieldset.files label, fieldset.files .fileinput-wrapper
{
	float: left;
	margin-right: 5px;
}
fieldset.files label
{
	margin-top: 6px;	
}
fieldset.files button .ui-button-text
{
	padding: 3px 12px 4px 30px;
}
fieldset.files div img.featureImage
{
	display: block;
	margin: 0px auto 12px auto;
	
	box-shadow: 2px 2px 3px #555555;
}
fieldset.files .uploadDiv
{
	float: right;
}
fieldset.files table.filesTable
{
	margin-bottom: 12px;
}
#itemWin fieldset
{	
	position: relative;
	clear: left;
	
	margin-bottom: 12px;

	padding: 14px;
	
	border-radius: 5px;
	border-width: 1px;
	border-color: #4096CF;
}
#itemWin form fieldset .redactor_box
{
	width: 100%;
	min-height: inherit;
}
div.contextMenu
{
	position: absolute;
	
	right: 5px;
	top: 18px;
}