#indexBlock div.actual > p
{
	text-align: justify;
	padding: 6px 10px;
}
div fieldset
{
	float: right;
	
	margin: 10px 8px 8px 15px;
	padding: 15px 15px 15px 5px;
	
	border-radius: 5px;
}
div fieldset span
{
	float: left;
	clear: left;
	
	margin: 0px 0px 10px 0px;
}
div fieldset span.label strong
{
	display: inline-block;	
	width: 160px;
	
	margin-right: 10px;
	
	color: #333333;
	
	text-align: right;
}